# .dockerignore
# Ignore build artifacts and local config
**/bin
**/obj
**/.vs
**/.vscode
**/*.user
**/*.suo
**/*.userprefs
**/*.pidb
**/*.mdb
**/*.pdb
**/*.cache
**/*.log
**/*.tlog
**/*.tlb
**/*.tmp
**/*.temp
**/TestResults
**/artifacts
**/dist
**/out
**/publish
**/node_modules
**/.git
**/.github
**/.dockerignore
**/.env
**/.env.*
**/docker-compose.override.yml
**/docker-compose.yml
**/README.md
**/LICENSE
**/*.md
**/*.txt
**/*.sln
**/*.slnx
**/*.csproj
**/*.csproj.user
**/*.xml
**/*.config
**/*.settings
**/*.bak
**/*.backup
**/*.old
**/*.orig
**/*.swp
**/*.swo
**/*~
**/.*history
**/.DS_Store